@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .vertical-gradient::after {
    content: '' !important;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 20 !important;
    display: inline-block !important;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 6%,
        rgba(255, 255, 255, 0) 40%
      ),
      linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 40%) !important;
  }
  span[style^='box-sizing:border-box;display:inline-block'] {
    display: block !important;
  }
}
